/* styles.css */
* {
  font-family: "Montserrat", sans-serif;
    
}

#loader {
  display: none;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


body {
  background-color: #DDD;
}

#app-name {
  font-size: 30px;
}
#company-logo {
  width: 300px;
}
#status-bar {
  font-size: 30px;
}

.ctr-container {
  display: flex;
  justify-content: center; /* Align items horizontally */
  flex-direction: column;
  align-items: center; /* Align items vertically */
}

#video-feed {
  width: 1280px;
  height: 960px;
  margin: 20px;
  opacity: 1;
}


#video-feed.flash-animation {
  animation: flash 0.2s;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.btn:hover {
  opacity: 0.5
}

.btn {

  border: 10px ridge #999;
  padding: 15px;
  border-radius: 15px;
  margin: 20px; /* Optional: Add margin between elements */
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  text-align: center;
}

#btn-record {
  background-color: #BBB;
}

#btn-screenshot {
  background-color: #BBB;
}

#btn-light {
  background-color: #BBB;
}
/* Add styles here to customize the appearance of your app */
